# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Aula02_IntroducaoLinguagemJava/nbproject/private/
/Aula02_IntroducaoLinguagemJava/build/
/Aula02_IntroducaoLinguagemJava/Exercicio1_FraseNaTela/nbproject/private/
/Aula02_IntroducaoLinguagemJava/Exercicio1_FraseNaTela/build/
/Aula02_IntroducaoLinguagemJava/Exercicio2_Etiqueta/nbproject/private/
/Aula02_IntroducaoLinguagemJava/Exercicio2_Etiqueta/build/
/Aula02_IntroducaoLinguagemJava/Exercicio3_QuadradoNaTela/nbproject/private/
/Aula02_IntroducaoLinguagemJava/Exercicio3_QuadradoNaTela/build/
/Aula02_IntroducaoLinguagemJava/Exercicio4_PinheiroNaTela/nbproject/private/
/Aula02_IntroducaoLinguagemJava/Exercicio4_PinheiroNaTela/build/
/Aula02_IntroducaoLinguagemJava/Exercicio5_TabelaNotas/nbproject/private/
/Aula02_IntroducaoLinguagemJava/Exercicio5_TabelaNotas/build/
/Aula03_ListaExercicios1/nbproject/private/
/Aula03_ListaExercicios1/Exercicio1_MetadeDoNumero/nbproject/private/
/Aula03_ListaExercicios1/Exercicio1_MetadeDoNumero/build/
/Aula03_ListaExercicios1/Exercicio2_CalcularIdadeComDataNascimento/nbproject/private/
/Aula03_ListaExercicios1/Exercicio2_CalcularIdadeComDataNascimento/build/
/Aula03_ListaExercicios1/Exercicio3_AreaDoRetangulo/nbproject/private/
/Aula03_ListaExercicios1/Exercicio3_AreaDoRetangulo/build/
/Aula03_ListaExercicios1/Exercicio4_PerimetroRetangulo/nbproject/private/
/Aula03_ListaExercicios1/Exercicio4_PerimetroRetangulo/build/
/Aula03_ListaExercicios1/Exercicio5_Liquidacao40PorCento/nbproject/private/
/Aula03_ListaExercicios1/Exercicio5_Liquidacao40PorCento/build/
/Exercicio_SistemaBancario/SistemaBancario/nbproject/private/
/Exercicio_SistemaBancario/SistemaBancario/build/
/Aula03_ListaExercicios1_Condicionais/Exercicio1_MaiorOuMenorQueZero/nbproject/private/
/Aula03_ListaExercicios1_Condicionais/Exercicio1_MaiorOuMenorQueZero/build/
/Aula03_ListaExercicios1_Condicionais/Exercicio2_InformacaoIMC/nbproject/private/
/Aula03_ListaExercicios1_Condicionais/Exercicio2_InformacaoIMC/build/
/Aula03_ListaExercicios1_Condicionais/Exercicio3_ResultadoPartidaTimesFutebol/nbproject/private/
/Aula03_ListaExercicios1_Condicionais/Exercicio3_ResultadoPartidaTimesFutebol/build/
/Aula03_ListaExercicios1_Condicionais/Exercicio4_NomeDosMeses/nbproject/private/
/Aula03_ListaExercicios1_Condicionais/Exercicio4_NomeDosMeses/build/
/Aula03_ListaExercicios1_Condicionais/Exercicio5_MenorNumeroEntre4Valores/nbproject/private/
/Aula03_ListaExercicios1_Condicionais/Exercicio5_MenorNumeroEntre4Valores/build/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio1_EscreverFrase20Vezes/nbproject/private/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio1_EscreverFrase20Vezes/build/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio2_NumerosImparesDe1A20/nbproject/private/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio2_NumerosImparesDe1A20/build/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio3_SomaNumerosDe1A10/nbproject/private/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio3_SomaNumerosDe1A10/build/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio4_Media10NumerosInformadosPeloUsuario/nbproject/private/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio4_Media10NumerosInformadosPeloUsuario/build/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio5_MostrarQuantidadeMaioresDeIdade/nbproject/private/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio5_MostrarQuantidadeMaioresDeIdade/build/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio6_SomaItensCompraMercado/nbproject/private/
/Aula03_ListaExercicios1_ComandosRepeticao/Exercicio6_SomaItensCompraMercado/build/
/Aula04_Classes_Atributos_Metodos/Exercicio1_ClassePessoa/nbproject/private/
/Aula04_Classes_Atributos_Metodos/Exercicio1_ClassePessoa/build/
/Aula04_Classes_Atributos_Metodos/Exercicio2_ClasseLampada/nbproject/private/
/Aula04_Classes_Atributos_Metodos/Exercicio2_ClasseLampada/build/
/Aula04_Classes_Atributos_Metodos/Exercicio3_ClasseData/nbproject/private/
/Aula04_Classes_Atributos_Metodos/Exercicio3_ClasseData/build/
/Avaliacao_A1/PedroHenriqueMunhozCosta/nbproject/private/
/Avaliacao_A1/PedroHenriqueMunhozCosta/build/
/APS/nbproject/private/
